@import url(http://fonts.googleapis.com/css?family=VT323);

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #000;
}

/*div {
	width: 16px;
	display: inline-block;
}

div div {
	height: 16px;
	float: left;
	color: #000;
	font-family: "VT323";
	font-size: 16px;
	line-height: 16px;
}
*/
div {
	display: inline-block;
}

div div {
	font-family: "VT323";
	float: left;
}

#container {
	position: relative;
}

#container section {
	position: absolute;
}

#foreground {
	z-index: 1;
}

#foreground div {
	width: 16px;
}

#foreground div div {
	color: #000;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
}

#background {
	z-index: 0;
	margin: 0px 5px;
}

#background div {
	width: 12px;
}

#background div div {
	color: #000;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
}

button {
	float: left;
}

#foreground .green {
	color: #4fc130; 
	text-shadow: 0px 0px 3px rgba(0, 255, 0, 1);
}

#foreground .light-green {
	color: #14e414;
	text-shadow: 0px 0px 3px rgba(0, 255, 0, 1);
}

#foreground .lighter-green {
	color: #00FF00;
	text-shadow: 0px 0px 5px rgba(0, 255, 0, 1);
}

#background .green {
	color: #419D27; 
	text-shadow: 0px 0px 1px rgba(0, 255, 0, 1);
}

#background .light-green {
	color: #00c600;
	text-shadow: 0px 0px 1px rgba(0, 255, 0, 1);
}

#background .lighter-green {
	color: #00e100;
	text-shadow: 0px 0px 3px rgba(0, 255, 0, 1);
}